p {
    font-size: 40px;
    display: table-caption;
    width: 639px;
    margin-left: 613px;
    margin-top: 328px;
    border: solid 4px black;
}

a {

    font-size: 40px;
    text-decoration: none;
    color: black;

}

.links {
    text-align: center;
}