.box {
  display: grid;
  grid-template-columns: 1100px 300px;
  padding: 100px;
  font-size: 20px;
}



.tetris-game-board {
  border: solid 4px black;
  height: 475px;
  width: 50px;
  margin-left: 288px;
  margin-top: 20px;
  padding: 300px;
}

.upcoming {
  height: 260px;
  width: 230px;
  border: solid 3px black;
  ;
}

.play-button {
  width: 120px;
  background-color: green;
  cursor: pointer;
}

.pause-button {
  width: 120px;
  background-color: red;
  cursor: pointer;
}

a {
  font-size: 40px;
  text-decoration: none;
  color: black;
  display: table-caption;

}